*{
    padding:0px;
    margin:0px;
}

body{
    background-color: #f0af34;
    text-align: center;
    font-family: helvetica;
    
}

p{
    padding: 10px;
    font-size: 30px;
    font-style:italic;
    font-weight: 700;
}